/*站内导航条*/
.mainnav ul{ margin-top: 2px; background-color: #ededed; margin-left: 12px;}
.mainnav ul li a{ margin:0 8px; color: #000;}
.mainnav ul li img{ margin-top: -2px;}

.mainSelect{ border-top: 2px solid #333;padding-top: 22px; margin-top: 8px;;}

/*左边内容区*/
.mainSelectleft{ width: 728px; height: 842px; background: #f6f6f6; margin-bottom: 12px;}
.mainSelectleftTop{ background-color: #e6e6e6; height: 110px; width: 714px; border-bottom: 1px solid #ccc; padding-right: 14px;}
.mainSelectleftTop h4{ padding-top: 29px; margin-left: 20px; font-size: 24px;color: #0381d6;width: 461px; display: block;}
.mainSelectleftTopP1{color:#8d8d8d; margin-left: 20px; margin-top: 13px; }
.mainSelectleftTop ul{margin-top: 22px;}
.mainSelectleftTop ul li{margin-left: 5px;}
.mainSelectleftTopP2{display: inline-block; margin-top: 11px; font-size:14px; margin-left: 235px;}

.mainSelectlefttext{ width: 697px;height: 67px; border-bottom: 1px solid #ccc; margin-left: 20px; padding: 28px 0 20px 0;position: relative;}
.mainSelectlefttext p{ line-height: 24px; color: #929292;}
.allbtn{position: absolute; top:15px;right: -3px;}
.downbtn{position: absolute; top:64px;right: -3px;}




.videoimg{ margin-left: 20px; margin-top: 39px;}
/*右边SubNav*/

.mainSelectrightTitle{width: 252px; height: 36px; line-height: 36px; background: #333;color: white;font-size: 16px; padding-left: 8px;}
.mainSelectrightUl1{ width: 260px;padding: 7px 0 17px;background: #eaeaea;}
.mainSelectrightUl1 li a.Agreenclass{ background: #1f9400; border: 1px solid #1f9400; color: white;}
.mainSelectrightUl1 li a{display: block; width: 38px;height: 24px; background: #eee; border: 1px solid #e4e4e4;border-radius:2px; line-height: 24px; text-align: center; margin-right:3px; margin-left: 8px;color: #888;margin-top: 10px;}

.mainSelectrightP{ display: block;font-size: 14px; width: 235px;height: 14px;padding: 17px 0 11px 25px; background: url("../images/searchrighticon_.jpg")no-repeat 8px 19px #eaeaea;}
.mainSelectrightUl2{ width: 234px;padding: 0 0 5px 26px;background: #eaeaea;}
.mainSelectrightUl2 li a{display: block;width: 40px; height: 26px; border-radius:2px;color:black;line-height: 26px;text-align: center;}
.mainSelectrightUl2 li a.Agreenclass2{background: #1f9400; color: white;}
.UlpaddingBottom{ padding-bottom: 18px;}
.DivmarginTop{margin-top: 12px;}

.instrumenticonUl{width: 260px;background: #eaeaea;height: 377px; padding-top: 2px;}
.instrumenticonUl li a{display: block;width: 46px;height: 28px;border: 1px solid #ded9d9; line-height: 28px;color: #333;padding-left: 27px;margin-left: 10px; margin-top: 10px;}
.instrumenticon1{background: url("../images/instrumenticon01.png") no-repeat ;}
.instrumenticon2{background: url("../images/instrumenticon02.png") no-repeat ;}
.instrumenticon3{background: url("../images/instrumenticon03.png") no-repeat ;}
.instrumenticon4{background: url("../images/instrumenticon04.png") no-repeat ;}
.instrumenticon5{background: url("../images/instrumenticon05.png") no-repeat ;}
.instrumenticon6{background: url("../images/instrumenticon06.png") no-repeat ;}
.instrumenticon7{background: url("../images/instrumenticon07.png") no-repeat ;}
.instrumenticon8{background: url("../images/instrumenticon08.png") no-repeat ;}
.instrumenticon9{background: url("../images/instrumenticon09.png") no-repeat ;}
.instrumenticonUl li a.Aredclass{background-color: #cc0000; color:white;}












